<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Your Image Summary</title>
    <link href = "{{ url_for('static', filename = 'Styles.css')}}" rel = "stylesheet" />
</head>
<body>

<h1>AI Image Summary</h1>

    <form method="post">
        Enter your image url: <input name="url"> <br><br>
        <button type="submit">Submit</button>
    </form>
</body>

<body>
    <sub>
        {{response}}
    </sub>
    <p>
        <img src = '{{image}}'>
    </p>
</body>


</html>